/* Using the color palette [071952, 088395, 37B7C3, EBE4F6] */

/* Base Code. Optimized for Mobile Devices */

html{font-size: 30px}


body{
    background-color: #EBE4F6;
    color: #071952;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.versionnumber {
    display: inline-block;
    font-size: .8rem;
}

/* these are inside the blue navs buttons at the top  */
.sectioncontainer p {
    color: black;
    font-size: 1rem;
    text-wrap: nowrap;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.lessoncontainer .lessonheading {
    margin-bottom: 0;
    text-wrap: nowrap;
    font-size: 2em;
}

.lessoncontainer .description {
    font-size: .8rem;
}

.imageheader {
    margin-bottom: 0;
    text-wrap: nowrap;
    font-size: 1rem;
}

.description, image {
    margin-top: 0;
}

.sectioncontainer{
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin-bottom: 10px;
}

.sectionlink {
    border: 2px solid #071952;
    border-radius: 80px;
    background-color: #83d6fc;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 110px;
}

.lessoncontainer{
    border: 2px solid #071952;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 20px;
}
