/* Using the color palette [071952, 088395, 37B7C3, EBE4F6] */

/* Base Code. Optimized for Mobile Devices */

html{font-size: 48px}


body{
    background-color: #041035;
    color: whitesmoke;
}

.versionnumber {
    display: inline-block;
    font-size: .8rem;
}

.sectioncontainer p {
    color: black;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.lessoncontainer .lessonheading {
    text-decoration: underline;
    margin-bottom: 0;
    text-wrap: nowrap;
    font-size: 2em;
}

.lessoncontainer .description {
    font-size: .2rem;
}

.imageheader {
    margin-bottom: 0;
    text-wrap: nowrap;
    font-size: 2rem;
}

.description, image {
    margin-top: 0;
}

.sectioncontainer{
    border: 2px solid #EBE4F6;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin-bottom: 10px;
}

/* these are inside the blue navs buttons at the top */
.sectioncontainer a div p {
    font-size: 1.8rem;
}

.sectionlink {
    border: 2px solid #EBE4F6;
    border-radius: 10px;
    background-color: #37B7C3;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 230px;
    min-width: 110px;

}

.lessoncontainer{
    border: 2px solid #EBE4F6;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.sectionlink:hover {
    background-color: #088395; /* Change background color on hover */
}


/* Desktop Code */

@media (min-width: 451px){

html{font-size: 16px}


body{
    background-color: #041035;
    color: whitesmoke;
}

.sectioncontainer p {
    color: black;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.sectioncontainer a div p {
    font-size: 1.2rem;
}

.lessoncontainer .lessonheading {
    text-decoration: underline;
    margin-bottom: 0;
    text-wrap: nowrap;
    font-size: 2em;
}

.lessoncontainer .description {
    font-size: 1.2rem;
}

.imageheader {
    margin-bottom: 0;
    text-wrap: nowrap;
    font-size: 1.2rem;
}

.description, image {
    margin-top: 0;
}

.sectioncontainer{
    border: 2px solid #EBE4F6;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin-bottom: 10px;
}

.sectionlink {
    border: 2px solid #EBE4F6;
    border-radius: 10px;
    background-color: #37B7C3;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 230px;
    min-width: 110px;

}

.lessoncontainer{
    border: 2px solid #EBE4F6;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.sectionlink:hover {
    background-color: #088395; /* Change background color on hover */
}
}


